# SwiftFormat Configuration for GuessItSwift
# https://github.com/nicklockwood/SwiftFormat

# File options
--exclude .build,DerivedData,Pods,.swiftpm,docs

# Format options
--indent 4
--indentcase false
--trimwhitespace always
--insertlines true
--removelines true
--allman false
--wraparguments preserve
--wrapparameters preserve
--wrapcollections preserve
--closingparen balanced
--wrapreturntype preserve
--wrapconditions preserve
--wraptypealiases preserve
--wrapternary default
--wrapenum skip
--funcattributes preserve
--typeattributes preserve
--varattributes preserve
--storedvarattributes preserve
--computedvarattributes preserve
--complexattributes preserve
--nonisolatedattributes preserve
--guardelse auto
--elseposition same-line
--explicitself remove
--self remove
--selfrequired 
--importgrouping testable-bottom
--testableimports true
--marktypes always
--markextensions always
--extensionacl on-extension
--patternlet inline
--redundanttype inferred
--redundantbackticks false
--redundantparens false
--redundantget true
--redundantfileprivate true
--redundantrawvalues true
--redundantvoidreturntype true
--redundantreturn true
--redundantbreak true
--redundantextensionacl false
--redundantfilenames true
--yodaswap always
--semicolons inline
--commas always
--decimalgrouping 3,6
--binarygrouping 4,8
--octalgrouping 4,8
--hexgrouping 4,8
--fractiongrouping false
--exponentgrouping false
--hexliteralcase uppercase
--exponentcase lowercase
--shortoptionals always
--ranges spaced
--spacearoundoperators true
--spacearoundcomments true
--spaceinsideparens false
--spaceinsidebrackets false
--spaceinsidebraces true
--spaceinsidegenerics false
--spacearoundgenerics true
--operatorfunc spaced
--nospaceoperators 
--nowrapoperators 
--assetliterals visual-width
--ifdef indent
--xcodeindentation disabled
--tabwidth unspecified
--maxwidth none
--smarttabs enabled
--wrapeffects preserve
--conditionswrapping preserve
--typeblanklines remove
--categoryblanklines remove

# Rules to enable
--enable isEmpty
--enable sortedImports
--enable duplicateImports
--enable unusedArguments
--enable redundantSelf
--enable redundantType
--enable redundantGet
--enable redundantParens
--enable redundantVoidReturnType
--enable redundantReturn
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantRawValues
--enable redundantNilInit
--enable redundantLet
--enable redundantPattern
--enable redundantInit
--enable redundantObjc
--enable redundantBackticks
--enable semicolons
--enable trailingSpace
--enable wrap
--enable wrapArguments
--enable wrapMultilineStatementBraces
--enable braces
--enable elseOnSameLine
--enable emptyBraces
--enable linebreakAtEndOfFile
--enable consecutiveSpaces
--enable consecutiveBlankLines
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenScopes
--enable modifierOrder
--enable preferKeyPath
--enable opaqueGenericParameters
--enable blockComments
--enable docComments
--enable fileHeader
--enable hoistPatternLet
--enable initCoderUnavailable
--enable leadingDelimiters
--enable numberFormatting
--enable organizeDeclarations
--enable sortDeclarations
--enable strongOutlets
--enable todos
--enable trailingClosures
--enable typeSugar
--enable void
--enable yodaConditions
--enable andOperator
--enable anyObjectProtocol
--enable assertionFailures
--enable conditionalAssignment
--enable genericExtensions
--enable markTypes
--enable noExplicitOwnership
--enable preferDouble
--enable preferForLoop
--enable spaceAroundParens
--enable strongifiedSelf
--enable unusedPrivateDeclaration
--enable wrapConditionalBodies
--enable wrapEnumCases
--enable wrapSwitchCases

# Rules to disable (if any specific ones need to be disabled)
# --disable ruleName 